@import "tailwindcss";

@font-face {
    font-family: "Nian";
    src: url(./fonts/Nian-Regular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nian";
    src: url(./fonts/Nian-ExtraBold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Nian";
    src: url(./fonts/Nian-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Nian";
    src: url(./fonts/Nian-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
}

:root,html{
    font-family: 'Nian';
    --bg:#000;
    --surface:#0D0D0D;
}

.container{
    @apply max-w-[1488px] mx-auto px-4 lg:px-0;
}

body{
    background-color: var(--bg);
    color:#FFF;
}

@theme{
    --color-primary: #FFF;
    --color-bg:var(--bg);
    --color-surface:var(--surface);
    --text-tiny:10px;
}

::-webkit-scrollbar{
    display: none;
}

.border{
    @apply border-white/10;
}

.nav-link{
    @apply opacity-60 hover:opacity-100;
}
.active-link{
    text-shadow: 0 0 10px #FFFFFF;
}

#mobile-header{
    @apply transition-all duration-300;
}
.show-header{
    @apply opacity-100 translate-x-0;
}
.hide-header{
    @apply opacity-0 -translate-x-full;
}